<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-title>Añadir avistamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="sightingForm" (ngSubmit)="submitSighting()">
    <ion-list>
      <ion-item>
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-label position="stacked">Lugar:</ion-label>
        <ion-input formControlName="place" type="text" placeholder="Lugar"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="locate" slot="start"></ion-icon>
        <ion-label position="stacked">Longitud:</ion-label>
        <ion-input formControlName="longitude" type="number" placeholder="Longitud"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="locate" slot="start"></ion-icon>
        <ion-label position="stacked">Latitud:</ion-label>
        <ion-input formControlName="latitude" type="number" placeholder="Latitud"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button expand="block" type="submit" [disabled]="!sightingForm.valid">Añadir</ion-button>
    </div>
  </form>
</ion-content>
