<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-title>Menú principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div padding>
      <ion-button expand="block" size="large" (click)='displayBirds()'>Listado de aves</ion-button>
    </div>
    <div padding>
      <ion-button expand="block" size="large" (click)='addBird()'>Añadir ave</ion-button>
    </div>
    <div padding>
      <ion-button expand="block" size="large" (click)='displayInfo()'>Información</ion-button>
    </div>
    <div padding>
      <ion-button expand="block" size="large" (click)='logOff()'>Desconectar</ion-button>
    </div>
  </ion-list>
</ion-content>
